@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-weight: 400;
  overflow-x: clip;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #0d100f 50%, #080a09);
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

section {
  height: 200px;

  /* Children Background Color */
  & div:first-child {
    background-color: red;
  }
  & div:nth-child(2) {
    background-color: lime;
  }
  & div:last-child {
    background-color: blue;
  }
}

article {
  margin-bottom: 10rem;
}
